


	body{
			
		font-size: 20px;
		background-image: url(../#img/670781.jpg);
		background-repeat: round;
		background-color: #DDA0DD;

	

				
				
}

	header {

		width: auto;
		background-color: rgba(128,0,128);
		padding: 1%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1em;
		line-height: 1.5;
}
	 footer {

		width: auto;
		background-color: rgba(128,0,128);
		padding: 1%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1em;
		line-height: 1.5;

	
		

	}

	.fixo{

		position:fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	.container{

		
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	    color:#fff;
	    position:relative;
	    padding: 3%;
	}

	#sobre{

		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin: 0 auto;
	}

	#sobre .sobre{
		text-align: center;
	}

	.imgsobre{
		width: 20%;
		height: 20%;
	}

	#galeria{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin: 2px 2px;
	}

	#galeria .galeria{

		
		text-align: center;
		
		
	}

	.imggaleria{
		width: 90%;
		border: 5px dashed #fff;
		border-radius: 15%;
	
	}








	.titulos{

		text-align: center;
		border-style: groove;
		color: #C71585;
		font-size: 2em;
		    font-family: 'Crete Round', serif;
		    text-shadow: 2px 2px 5px lightpink;

		}
	
	


		}
		

	    h1{
	    	text-align: 2em;



	}
	    h2{
	    	text-align: 1.5em;



	}

		h3{
			font-size: 1.2em;
			text-decoration: underline;
			color: #C71585;
		}
	    table{
        	border-collapse: collapse;
        	width: 80%;
        	margin-right: auto;
        	margin-left:auto;

   
    }
        td, th,tr{
        	border: 5px groove #C71585;
        	text-align: center;
        	padding: 5px;
        	width: 80%;
        	margin-right: auto;
        	margin-left:auto;
        	color:#fff;

    }
    	th {
			  padding-top: 10px;
			  padding-bottom: 10px;
			  text-align: left;
			  background-color: yellow;
			  color: black;
			}

		p{
			border-style: double;			
			font-size: 18px;
			margin-top: 2%;
			margin-bottom: 2%;
			width: 80%;
			margin-right: auto;
			margin-left: auto;
       	 	color:#fff;
       	 	box-shadow: 2px 2px lightpink;
       	 	text-shadow: 2px 2px 5px lightpink;


	}

		.fundo{
			background-color: rgba(128,0,128,0.5);
			width: 90%;
			margin-left: auto;
			margin-right: auto;
			font-size: 0.6em;
			padding: 3%;
			
	}

		.distancia{
			margin-top: 2%;
			margin-bottom: 2%;
			
	}

	input[type=text], select, textarea {
		width:100%;
		padding: 12px 20px;
		display:block;
		border: 1px solid #ccc;
		border-radius:6px;
		box-sizing: border-box;
	}

	input[type=submit] {
		  width: 100%;
		  background-color: #DDA0DD;
		  color: white;
		  padding: 14px 20px;
		  margin: 8px 0;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
	}

	fieldset{
		width:95%;
		border: 2px solid #ccc;
		padding: 2%;
	}

	

		.melanie{
			
			text-align: center;
		}
				
		.ajustes{
			line-height: 1;
			text-align: center;
		}

		.ajustes li:hover{
			background-color:purple; 
		}

		

	}
	    .listastexto{
	    	text-decoration: underline;
	    	color: #fff;
	    	font-weight: bolder;
	    	margin-top: 2%;
		    margin-bottom: 2%;
		    width: 80%;
		    margin-right: auto;
		    margin-left:auto;
		    color:#fff;
}
	    ol,li{
	    	text-decoration: underline;
	    	color: #fff;
	    	
	    	margin-top: 2%;
		    margin-bottom: 2%;
		    width: 80%;
		    margin-right: auto;
		    margin-left:auto;

}
		figure{

			text-align: center;
			

}

		.menu-opcoes{
			text-align: center;
		}
		



	 	.imgtexto{
			width: 50%;
			border: 5px dashed #fff;
			border-radius: 50%;
	}
		.item{
			position: relative;
			margin: 10px 0px;
		}

		.item::before{
			content: '';
			position: relative;
			left: 0;
			top: 0;
			padding: 8px 15px;
			background-image: url('../img/li.png');
			background-repeat: no-repeat;
			
			margin-right: 5px;

		}

	/*tela menor que 599px*/
@media screen and (max-width: 599px) {
		.container{
				margin-top:60%;
	}

	}
	/*tela maior que 600px*/
@media screen and (min-width: 600px) {
    	.container{
    			margin-top: 40%;
    }
	}
	/*tela maiores que 768*/
@media screen and (min-width: 768px) {
		.container{
				margin-top: 30%;}

				header{
					background-color: rgba(128,0,128,0.3);
					flex-direction: row;
					position:relative;
				}



				.menu-opcoes{
					position:absolute;
					right:5%;
					top:50%;
				}

				.menu-opcoes ul li{

					display:inline;
					margin-left:10px;

				}

				#sobre, #galeria{
					flex-direction: row;
					flex-wrap: wrap;
				}

				#sobre h1,h3,p {
					width: 100%;
					text-align: center;
				}

				#sobre .sobre, #galeria .galeria{
					width: 25%;
					text-align: center;
				}


	




		

	
  	
}
	<style>
	a:link {
	  color: green; 
	  background-color: transparent; 
	  text-decoration: underline;
	}

	a:visited {
	  color: yellow;
	  background-color: transparent;
	  text-decoration: underline;
	}

	a:hover {
	  color: red;
	  background-color: transparent;
	  text-decoration: underline;
	}

	a:active {
	  color: yellow;
	  background-color: transparent;
	  text-decoration: underline;
	{
	}

/*quando a tela for maior que 600px*/
@media screen and (min-width: 600px) {


}
</style> 








