


	body{
			
		font-size: 20px;
		background-image: url(../img/670781.jpg);
		background-repeat: round;

	

				
				
}

	header, footer{

		width: auto;
		background-color: rgba(221,160,221);
		padding: 1%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1em;
		line-height: 1.5;

	
		

	}

	.fixo{

		position:fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}

	.container{

		
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	    color:#fff;
	    position:relative;
	}






	.titulos{

		text-align: center;
		border-style: groove;
		color: #C71585;
		font-size: 2em;
		    font-family: 'Crete Round', serif;
		    text-shadow: 2px 2px 5px lightpink;

		}


		}
		

	    h1{
	    	text-align: 2em;



	}
	    h2{
	    	text-align: 1.5em;



	}
	    table{
        	border-collapse: collapse;
        	width: 80%;
        	margin-right: auto;
        	margin-left:auto;

   
    }
        td, th{
        	border: 5px groove #fff;
        	text-align: center;
        	padding: 5px;
        	width: 80%;
        	margin-right: auto;
        	margin-left:auto;
        	color:#fff;

    }

		p{
			border-style: double;			
			font-size: 14px;
			margin-top: 2%;
			margin-bottom: 2%;
			width: 80%;
			margin-right: auto;
			margin-left: auto;
       	 	color:#fff;
       	 	box-shadow: 2px 2px lightpink;
       	 	text-shadow: 2px 2px 5px lightpink;


	}

		
		

		.melanie{
			
			text-align: center;
		}
				
		.ajustes{
			line-height: 1;
			text-align: center;
		}

		.ajustes li:hover{
			background-color:purple; 
		}


	}
	    .listastexto{
	    	text-decoration: underline;
	    	color: #fff;
	    	font-weight: bolder;
	    	margin-top: 2%;
		    margin-bottom: 2%;
		    width: 80%;
		    margin-right: auto;
		    margin-left:auto;
		    color:#fff;
}
	    ol,li{
	    	text-decoration: underline;
	    	color: #fff;
	    	font-weight: bolder;
	    	margin-top: 2%;
		    margin-bottom: 2%;
		    width: 80%;
		    margin-right: auto;
		    margin-left:auto;

}
		figure{

			text-align: center;
			

}

		.menu-opcoes{
			text-align: center;
		}
		



	 	.imgtexto{
			width: 50%;
			border: 5px dashed #EE82EE;
			border-radius: 50%;
	}

	/*tela menor que 599px*/
@media screen and (max-width: 599px) {
		.container{
				margin-top:60%;
	}

	}
	/*tela maior que 600px*/
@media screen and (min-width: 600px) {
    	.container{
    			margin-top: 40%;
    }
	}
	/*tela maiores que 768*/
@media screen and (min-width: 768px) {
		.container{
				margin-top: 30%;}

				header{
					background-color: rgba(221,160,221,0.5);
					flex-direction: row;
					position:relative;
				}

				.menu-opcoes{
					position:absolute;
					right:5%;
					top:50%;
				}

				.menu-opcoes ul li{

					display:inline;
					margin-left:10px;

				}




		

	
  	
}
	<style>
	a:link {
	  color: green; 
	  background-color: transparent; 
	  text-decoration: underline;
	}

	a:visited {
	  color: yellow;
	  background-color: transparent;
	  text-decoration: underline;
	}

	a:hover {
	  color: red;
	  background-color: transparent;
	  text-decoration: underline;
	}

	a:active {
	  color: yellow;
	  background-color: transparent;
	  text-decoration: underline;
	{
	}

/*quando a tela for maior que 600px*/
@media screen and (min-width: 600px) {


}
</style> 








