body{
		background-color: #7B68EE;
		font-size: 20px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;




		}

		div{
		font-size: 1em;


		}

		h1,h2{
		text-align: center;
		border-style: double;
		color: #1C1C1C;
		font-size: 50px;
		font-family:"Times New Roman", Times, serif;
	}
	    table{
        border-collapse: collapse;
        width: 100%;

   
    }
        td, th{
        	border: 5px groove #fff;
        	text-align: center;
        	padding: 5px;

    }

		p{
		border-style: double;
		background-color:LightGray;
			



		}


	}
	    ul,li{
	    	text-decoration: underline;
	    	color: #fff;
	    	font-weight: bolder;
}
	    ol,li{
	    	text-decoration: underline;
	    	color: #fff;
	    	font-weight: bolder;

}
		figure{

			text-align: center;
			border: 5px solid #fff;



		}


img{
	width: 100%;
}
<style>
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
{
}
</style> 








