body{
		background-color: #7B68EE;
		font-size: 20px;
		width: 90%;
		margin-left: 50%;
		margin-right: 50%;




		}

		div{
		font-size: 1em;


		}

		h1,h2{
		text-align: center;
		color: #1C1C1C;
		font-size: 50px;
		font-family:"Times New Roman", Times, serif;






		}

		p{
		border-style: double;
		border:5px solid #fff;
		background-color:LightGray;
			



		}

		figure{

			text-align: center;
			border: 5px solid #fff;



		}


img{
	width: 100%;
}
<style>
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: underline;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style> 
Try it Yourself »







